.projects {
    padding: 100px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 900px;
    width: 1459px;
    background-image: url("src/assets/kirby4.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    min-width: 145vh;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    height: 500px;
    width: 80%;
    margin-bottom: 10px;


}

.left-side {
    width: 30%;
    text-align: center;
    border-radius: 10px;
    background-position: center; 
    height: 500px;
  }



.right-side {
    width: 70%;
    padding-left: 20px;
}

.intro h1 {
    font-size: 2rem;
    margin-bottom: 50px;
    margin-top: 40px;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .left-side, .right-side {
        width: 100%;
        text-align: center;
    }
}
.project-list .nes-btn {
        margin: 0 10px;
        height: 50px;
        width: 150px;
        font-family: 'Press Start 2P', cursive;
        display: block; 
        margin: 50px auto; 
        margin-bottom: -30px;

}
.project-list h2{
    color: black;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 30px;
}
.bubble-speeches  {
    margin-top: 110px;
    margin-bottom: 10px;
}
.project-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .project-balloon {
    position: absolute;
    top: 110%; 
    left: 190%; 
    transform: translateY(-50%); /* Center the balloon vertically */
    width: 500px; /* Set a larger width for the balloon */
  }
  
  .project-balloon .nes-balloon {
    width: 100%; 
    text-align: left; 
    margin-bottom: -300px;
    margin-top: -500px;
  }
  
  .close-button {
    margin-top: -100px;
    margin-left: 600px;
    
  }

  .nes-btn.btn-3{
    margin-top: 100px;
  }
  .nes-btn.btn-2{
    margin-top: -100px;
  }
  .under-construction img {
    margin-right:50px;
    margin-left:500px;
    width: 500px;
    height: 500px;
    margin-top: -400px;
  }
