* {
  font-family: 'Press Start 2P', cursive; /* Apply to all elements */
}

.App {
  font-family: "Pirata One", serif;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header styles */
.app-header {
  background-image: url('src/assets/back.gif'); /* Path to your GIF */
  background-size: cover; /* Ensures the GIF covers the entire header */
  background-position: center; /* Centers the GIF */
  /* background-color: #e87fa2; Pink background */
  padding: 60px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nes-btn {
  margin: 0 10px;
  height: 70px;
  width: 150px;
  font-family: 'Press Start 2P', cursive;
}

.App > div {
  padding-top: 200px;
}

.app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #00bcd4;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}